.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  background: #fff;
  border-radius: 0px 0px 16px 16px;
  height: 80px;
  padding-top: 22px;
  top: 0;
  transition: all 0.3s ease;

  a {
    display: flex;
  }

  &--transparent {
    background: transparent;
  }

  &--search {
    border-radius: 0;
    background: #fff !important;
  }
}
