@import "../../assets/styles/functions.scss";

.newsletter {
  background: url(/images/newsletter/bg.jpg) center center no-repeat;
  background-size: cover;
  border-radius: 16px;
  overflow: hidden;
  padding: 48px 96px;
  color: #fff;
  margin-bottom: 116px;

  @media screen and (max-width: 1024px) {
    padding: 48px 60px;
  }

  @media screen and (max-width: 768px) {
    padding: 48px 24px;
  }

  &--hr {
    background: #f9f9fa url(/images/newsletter/bg-join.jpg) center center
      no-repeat;
    background-size: cover;

    .content {
      h3 {
        color: #1f242b;
      }

      p {
        color: rgba(31, 36, 43, 0.8);
      }
    }
  }
}

.content {
  width: rem(400px);
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1280px) {
    width: 50%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  h3 {
    font-weight: 500;
    font-size: rem(32px);
    line-height: rem(43px);
    margin: 0 0 rem(16px);
  }

  p {
    font-weight: 500;
    font-size: rem(16px);
    line-height: rem(24px);
    margin-bottom: rem(24px);
    margin-top: 0;
  }

  > span {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: block;
    margin-bottom: 28px;
    margin-top: 16px;
  }
}
