@import "../../assets/styles/functions.scss";

.search {
  position: fixed;
  top: 0;
  padding-top: 80px;
  width: 100%;
  height: 100vh;
  z-index: -1;
  width: 100%;
  transition: all 0.5s ease;

  &--open {
    z-index: 9;
    background: rgba(31, 36, 43, 0.3);

    .wrap {
      transform: translateY(0);
    }
  }
}

.wrap {
  background: #f9f9fa;
  padding: 64px 0;
  transform: translateY(-100%);
  transition: all 0.5s ease;

  h4 {
    font-weight: 500;
    font-size: rem(32px);
    line-height: rem(43px);
    color: #1f242b;
    margin: 0;
    margin-bottom: rem(26px);
  }

  p {
    font-weight: 400;
    font-size: rem(14px);
    line-height: rem(20px);
    color: #64748b;
    margin-bottom: rem(18px);
  }
}
