@import "../../assets/styles/functions.scss";
.contact-form {
  h3 {
    font-weight: 500;
    font-size: rem(20px);
    line-height: rem(27px);
    color: #2c333e;
    margin-bottom: rem(24px);
  }
  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #64748b;
    margin: 0;
  }
}

.send {
  display: flex;
  margin-top: 32px;
}
