.contact-card {
  background: #fff;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.directions {
  position: relative;
  background: #fff;
  padding: 8px;
  height: 177px;

  .map-btn {
    position: absolute;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 16px;
    padding: 8px 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    top: 16px;
    right: 16px;
    z-index: 9;
    color: #fc6a10;
    cursor: pointer;

    i {
      padding-left: 10px;
    }
  }

  img {
    border-radius: 8px;
  }

  > span {
    height: 160px !important;
  }

  .text {
    position: absolute;
    background: #ffffff;
    padding: 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    border-radius: 16px;
    color: #2c333e;
    bottom: 16px;
    width: calc(100% - 32px);
    margin: 0 8px;
    left: 8px;
  }
}

.button {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 8px 8px;
  gap: 8px;

  h2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #64748b;
    margin: 0;
  }
  span {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    margin-top: 4px;
  }

  i {
    color: #fc6a10;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: 1px solid #f3f4f5;
  padding: 16px;
  border-radius: 8px;

  > div {
    display: flex;
    flex-direction: column;
  }

  &--borderles {
    border: 0;
  }
}
