.card-icon {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #f3f4f5;
  border-radius: 16px;
  padding: 24px;
  min-height: 252px;
  transition: all 0.5s ease;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    flex-direction: row;
    min-height: 148px;
  }

  &:hover {
    box-shadow: 0px 28px 54px rgba(100, 116, 139, 0.1);
    transform: translateY(-20px);

    .icon {
      i {
        color: #fc6a10;
      }
    }
  }

  &--vertical {
    flex-direction: row;
    min-height: 148px;

    .content {
      margin-left: 24px;
      width: calc(100% - 64px);
      h3 {
        margin-top: 0;
      }
    }
  }
}

.icon {
  width: 40px;
  height: 40px;
  border: 1px solid #f3f4f5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    transition: all 0.5s ease;
  }
}

.content {
  width: 100%;
  @media screen and (max-width: 768px) {
    width: calc(100% - 64px);
    margin-left: 24px;
  }
  h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1f242b;
    margin: 24px 0 16px;

    @media screen and (max-width: 768px) {
      margin-top: 0;
    }
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #64748b;
    margin: 0;
    width: 100%;
  }
}
