@import "../../assets/styles/functions.scss";

.left-nav {
  background: #fff;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  padding: 64px 40px;
  width: 30%;

  @media screen and (max-width: 1200px) {
    padding: 48px 24px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    height: 100%;
    transition: all 0.5s ease;
    padding-top: 100px;
    z-index: -1;

    &--open {
      z-index: 9;
      transform: translateY(0);
    }
  }

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1f242b;
    margin: 0;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  nav {
    margin-top: 32px;
  }

  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #1f242b;

    a {
      color: #1f242b;
    }

    > li {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;

      &:hover {
        background: #f9f9fa;
      }

      > ul {
        padding: 0 0 8px;
        display: none;
        background: #fff;
        > li {
          flex-direction: column;
          align-items: flex-start;
          font-size: 12px;
          line-height: 20px;
          margin-top: 8px;
          transition: all 0.5s ease;
          position: relative;

          div {
            padding: 8px 0 8px 16px;
            border-radius: 8px;
            transition: all 0.5s ease;
            cursor: pointer;

            &:after {
              content: "+";
              display: inline-flex;
              position: absolute;
              font-weight: normal;
              margin-top: 0;
              right: 14px;
            }
          }

          &:hover {
            div {
              background: rgba(252, 106, 16, 0.1);
              color: #fc6a10;
            }
          }

          ul {
            li {
              a {
                color: #64748b;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px 8px 8px 32px;
                transition: all 0.5s ease;

                i {
                  opacity: 0;
                  transition: all 0.5s ease;
                  color: #fc6a10;
                }

                
              }
              &:hover {
                a {
                  color: #1F242B;
                }
                i {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 8px;
  border-radius: 8px;
  transition: all 0.5s ease;
  cursor: pointer;
  overflow: hidden;

  i {
    transition: all 0.5s ease;
    transform: rotate(90deg);
    &:before {
      font-size: 8px;
    }
  }

  > div {
    width: calc(100% - 48px);
    margin-left: 16px;
  }
}

.all-cat {
  background: transparent !important;
  a {
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.5s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    i {
      transition: all 0.5s ease;
      &:before {
        font-size: 8px;
      }
    }
  }

  &:hover {
    background: transparent !important;
    a {
      color: #fc6a10;
    }
  }
}

.parent {
  &--open {
    background: #f9f9fa;

    > div {
      i {
        transform: rotate(-90deg);
      }
      & + ul {
        display: flex !important;
      }
    }
  }
}

.child {
  &--open {
    > div {
      & + ul {
        display: flex !important;
      }
    }
  }
}

.head {
  display: none;
  width: 100%;
  position: relative;

  @media screen and (max-width: 768px) {
    display: flex;
  }

  h5 {
    font-weight: 500;
    font-size: rem(24px);
    line-height: 32px;
    color: #1f242b;
    margin: 0;
  }

  > div {
    top: -7px;
    right: 0;
  }
}

.mobile-nav {
  background: #fff;
  padding: 16px 0;
  width: calc(100% + 48px);
  margin: 0 -24px;
  order: 1;
  display: none;

  @media screen and (max-width: 768px) {
    display: flex;
  }
}

.button {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #1f242b;
  background: #f9f9fa;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    transform: rotate(90deg);
  }
}

.wrap {
  @media screen and (max-width: 768px) {
    max-height: calc(100% - 48px);
    overflow-y: auto;
  }
}