.link-button {
  display: inline-flex;
  align-items: center;
  padding: 4px 4px 4px 16px;
  gap: 16px;
  border: 1px solid #1f242b;
  border-radius: 8px;
  background: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  a {
    color: #1f242b;
  }

  span {
    display: inline-flex;
    width: 32px;
    height: 32px;
    background: rgba(31, 36, 43, 0.1);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    
    i {
      &:before {
        font-size: 10px;
      }
    }
  }
}
