.link-button {
  display: inline-flex;
  a,
  button {
    color: #1f242b;
    display: inline-flex;
    align-items: center;
    padding: 4px 4px 4px 16px;
    gap: 16px;
    border: 1px solid #1f242b;
    border-radius: 8px;
    background: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  span {
    display: inline-flex;
    width: 32px;
    height: 32px;
    background: rgba(31, 36, 43, 0.1);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    transition: all 0.5s ease;

    @media screen and (max-width: 768px) {
      margin-left: 0px;
    }

    i {
      &:before {
        font-size: 10px;
      }
    }
  }

  &:hover {
    a,
    button {
      box-shadow: 0px 28px 54px rgba(100, 116, 139, 0.1);
      background: #fff;
    }

    span {
      background: #fc6a10;
      color: #fff;
    }
  }

  &--transparent {
    a,
    button {
      color: #fff !important;
      border-color: #fff;
      background: transparent;
    }

    span {
      background: rgba(255, 255, 255, 0.1) !important;
    }

    &:hover {
      a,
      button {
        box-shadow: 0px 28px 54px rgba(100, 116, 139, 0.1);
        background: #fff !important;
        color: #1f242b !important;
      }
  
      span {
        background: #fc6a10 !important;
        color: #fff !important;
      }
    }
  }
}
