.topbar {
  width: 100%;
  min-height: 300px;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
}

.image {
  width: 100%;
  border-radius: 0px 0px 2vw 2vw;
  overflow: hidden;
  width: 100% !important;
  display: flex !important;
  
  img {
    width: 100%;
  }
  > span {
    /*   height: 100% !important;

    img {
      width: 100% !important;
      object-fit: cover;
    } */
  }
}

.content {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 158px;

  h1 {
    font-weight: 500;
    color: #ffffff;
    font-size: 32px;
    line-height: 43px;
    margin-left: 40px;
  }

  ul {
    margin-left: 40px;
  }
}
