.topbar {
  width: 100%;
  min-height: 300px;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
}

.image {
  width: 100%;
  > span {
    border-radius: 0px 0px 32px 32px;
    overflow: hidden;
  }
}

.content {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 77px;
  
  h1 {
    font-weight: 500;
    color: #ffffff;
    font-size: 32px;
    line-height: 43px;
    margin-left: 40px;
  }

  ul {
    margin-left: 40px;
  }
}
