.about{
    background: #fff;
    border-radius: 16px;
    padding: 96px;
    margin-bottom: 116px;

    h6 {
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #1F242B;
        margin: 0;
    }
}

.content {
    width: calc(100% - 600px);
    h2 {
      font-weight: 500;
      font-size: 32px;
      line-height: 43px;
      margin: 64px 0;
      color: #1f242b;
    }
  
    p {
      width: 80%;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #1f242b;
      margin-bottom: 30px;
    }
}
  
.image {
    width: 593px;
    height: 539px;
    border-radius: 16px;
    position: absolute;
    right: 96px;
    bottom: 90px;
}

.quality{
    display: flex;
    flex-direction: column;
    padding: 0 140px 0 48px;
    margin-bottom: 116px;

    .content{
        width: 100%;
    }

    .image {
        position: relative;
        right: 0;
        bottom: 0;
    }
}

.policy{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    p{
        width: 500px;
        margin-left: 140px;
    }
}