@import "./functions.scss";
.blog-detail {
  background: #f9f9fa;
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  h2 {
    font-size: rem(32px);
    font-weight: 500;
    line-height: rem(43px);
    color: #1f242b;
    margin: rem(64px) 0;

    @media screen and (max-width: 1440px) {
      margin: 32px 0;
    }
  }

  h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: #1f242b;
  }

  p {
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(20px);
    color: #64748b;
    margin-bottom: 30px;

    @media screen and (max-width: 1440px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.desc {
  > div {
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(20px);
    color: #64748b;
    margin-bottom: 30px;

    @media screen and (max-width: 1440px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.blog-post {
  padding: 64px;
  width: 70%;
  background: #fff;

  @media screen and (max-width: 1200px) {
    padding: 48px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 32px 16px;
    margin-top: 32px;
    order: 2;
  }
}

.images {
  margin: 48px 0;
}

.social-media {
  span {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #1f242b;
    display: block;
    margin: 48px 0 20px;
  }

  ul {
    margin-left: -7px;
  }
}

.recommended {
  padding: 116px 0;
  .content {
    width: 100%;
    margin-bottom: 64px;

    h2 {
      margin-bottom: 0;
      font-weight: 500;
      font-size: rem(32px);
      line-height: rem(43px);
      color: #1F242B;
    }
  }

  &-list {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: calc((100% - 1366px) / 2);
  }

  &__slide {
    max-width: 376px;
    padding: 20px 0 40px;
  }

  &__slider {
    margin-left: 50px;
    width: 100%;

    @media screen and (max-width: 990px) {
      margin-left: 20px;
    }
  }
}
