.dealership{
    background: #fff;
    border-radius: 16px;
    padding: 96px;
    margin-bottom: 115px;
}
.content {
    h2 {
      font-weight: 500;
      font-size: 32px;
      line-height: 43px;
      margin: 64px 0;
      color: #1f242b;
    }
}
.image {
    width: 76.8px;
    height: 30px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    li{
        width: calc(16.667% - 24px);
        padding: 15px;
        height: 64px;
        border: 1px solid #F2F3F4;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            width: 100% !important;
            height: 100% !important;

            img {
                object-fit: contain;
            }
        }
    }
}