.export {
  background: #fff;
  border-radius: 16px;
  padding: 96px;
  margin-bottom: 310px;
}

.content {
  width: calc(100% - 400px);
}

.image {
  width: 593px;
  height: 539px;
  border-radius: 16px;
  position: absolute;
  right: 0;
  bottom: -185px;

  span {
    box-shadow: 0px 28px 54px rgba(100, 116, 139, 0.1);
    border-radius: 16px;
    overflow: hidden;
  }
}
