.icon {
line-height: 1;
}

.icon:before {
font-family: keskin !important;
font-style: normal;
font-weight: normal !important;
vertical-align: top;
}


  %icon-arrow {
  content: "\f101";
  }

  .icon-arrow:before {
  content: "\f101";
  }

  %icon-circle {
  content: "\f102";
  }

  .icon-circle:before {
  content: "\f102";
  }

  %icon-close {
  content: "\f103";
  }

  .icon-close:before {
  content: "\f103";
  }

  %icon-credit-card {
  content: "\f104";
  }

  .icon-credit-card:before {
  content: "\f104";
  }

  %icon-download {
  content: "\f105";
  }

  .icon-download:before {
  content: "\f105";
  }

  %icon-enter {
  content: "\f106";
  }

  .icon-enter:before {
  content: "\f106";
  }

  %icon-facebook {
  content: "\f107";
  }

  .icon-facebook:before {
  content: "\f107";
  }

  %icon-instagram {
  content: "\f108";
  }

  .icon-instagram:before {
  content: "\f108";
  }

  %icon-linkedin {
  content: "\f109";
  }

  .icon-linkedin:before {
  content: "\f109";
  }

  %icon-mail {
  content: "\f10a";
  }

  .icon-mail:before {
  content: "\f10a";
  }

  %icon-map {
  content: "\f10b";
  }

  .icon-map:before {
  content: "\f10b";
  }

  %icon-park {
  content: "\f10c";
  }

  .icon-park:before {
  content: "\f10c";
  }

  %icon-pin {
  content: "\f10d";
  }

  .icon-pin:before {
  content: "\f10d";
  }

  %icon-qr {
  content: "\f10e";
  }

  .icon-qr:before {
  content: "\f10e";
  }

  %icon-search {
  content: "\f10f";
  }

  .icon-search:before {
  content: "\f10f";
  }

  %icon-trasnport {
  content: "\f110";
  }

  .icon-trasnport:before {
  content: "\f110";
  }

  %icon-upload {
  content: "\f111";
  }

  .icon-upload:before {
  content: "\f111";
  }

  %icon-youtube {
  content: "\f112";
  }

  .icon-youtube:before {
  content: "\f112";
  }
