@import "./functions.scss";

.product-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 990px) {
    flex-direction: column;
  }
}

.text {
  width: 50%;
  height: 500px;
  background: #f9f9fa;
  border-radius: 0px 32px 0px 0px;
  padding: 63px 48px 24px 48px;
  position: relative;
  z-index: 2;

  @media screen and (max-width: 990px) {
    border-radius: 0;
    height: auto;
    width: calc(100% + 48px);
    margin: 0 -24px;
  }

  &:before {
    background: #f9f9fa;
    width: calc((100vw - 1366px) / 2);
    height: 100%;
    content: "";
    position: absolute;
    left: calc((-1 * (100vw - 1366px) / 2));
    top: 0;
    z-index: 2;

    @media screen and (max-width: 990px) {
      display: none;
    }
  }

  h2 {
    font-weight: 500;
    font-size: rem(20px);
    line-height: rem(27px);
    margin: 0 0 rem(24px);
  }

  p, .pd-content {
    font-weight: 400 !important;
    font-size: rem(16px) !important;
    line-height: rem(24px) !important;
    color: #64748b !important;
    background: transparent !important; 

    * {
      font-weight: 400 !important;
      font-size: rem(16px) !important;
      line-height: rem(24px) !important;
      color: #64748b !important;
      background: transparent !important;
    }
  }
}

.button {
  position: absolute;
  right: 24px;
  bottom: 24px;

  @media screen and (max-width: 990px) {
    position: relative;
    right: auto;
    bottom: auto;
    display: flex;
    margin-top: 20px;
  }

  i {
    &:before {
      font-size: 18px !important;
    }
  }
}

.image {
  width: 50%;
  height: 500px;
  padding: 48px 33px;
  background: #fff;
  z-index: 1;

  @media screen and (max-width: 990px) {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 24px 0;
  }

  &:after {
    background: #fff;
    width: 100vw;
    height: 100%;
    content: "";
    position: absolute;
    right: calc((-1 * (100vw - 1366px) / 2));
    top: 0;
    z-index: 2;
    @media screen and (max-width: 990px) {
      display: none;
    }
  }

  > span {
    height: 100% !important;
    border-radius: 16px;
    z-index: 3;
  }
}

.modal {
  h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #2c333e;
    margin: 0;
  }

  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #64748b;
  }

  form {
    margin-top: 24px;
  }
}

.recommended {
  padding: 116px 0;

  .content {
    width: 100%;
    margin-bottom: 64px;

    h2 {
      margin-bottom: 0;
      font-weight: 500;
      font-size: rem(32px);
      line-height: rem(43px);
      color: #1f242b;
    }
  }

  &-list {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: calc((100% - 1366px) / 2);
  }

  &__slide {
    max-width: 376px;
    padding: 20px 0 40px;
  }

  &__slider {
    margin-left: 50px;
  }
}
