.search {
  &-box {
    background: #fff;
    padding: 56px 0;
  }

  &-list {
    margin-top: 48px;
    margin-bottom: 64px;
  }
}

.blog-list,
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 24px;
  padding: 0;

  > div {
    width: calc(25% - 18px);

    @media screen and (max-width: 990px) {
      width: calc(33.333% - 18px);
    }

    @media screen and (max-width: 990px) {
      width: calc(50% - 12px);
    }
  }
}

.blog-list {
  > div {
    width: calc(33.333% - 18px);

    @media screen and (max-width: 990px) {
      width: calc(50% - 18px);
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
