@import '../../assets/styles/functions.scss';

.footer {
  position: relative;
  background: #F9F9FA;
  border-top: 1px solid #f2f2f2;
}

.top {
  padding: 100px 0;
  display: flex;
  position: relative;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 48px 0;
  }
}

.logo {
  width: 20%;

  @media screen and (max-width: 768px) {
    order: 3;
    width: 100%;
    border-top: 1px solid rgba(31, 36, 43, 0.1);
    padding-top: 36px;
    margin-top: 48px;
  }
}

.menu {
  font-weight: 500;
  font-size: rem(16px);
  line-height: rem(22px);
  width: 20%;

  @media screen and (max-width: 1440px) {
    font-size: 16px;
  }

  @media screen and (max-width: 768px) {
    order: 1;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
  }
  
  li {
    margin-bottom: rem(24px);
    @media screen and (max-width: 768px) {
      margin-bottom: 36px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      color: #1f242b;
      transition: all 0.5s ease;

      &:hover {
        color: #fc6a10;
      }
    }
  }
}

.products {
  width: calc(60% - 100px);
  @media screen and (max-width: 768px) {
    order: 2;
    width: 100%;
    border-top: 1px solid rgba(31, 36, 43, 0.1);
    padding-top: 48px;
    margin-top: 48px;
  }
  h3 {
    margin: 0 0 rem(24px);
    font-weight: 500;
    font-size: rem(16px);
    line-height: rem(22px);
    color: #1f242b;

    @media screen and (max-width: 1440px) {
      font-size: 16px;
    }

    @media screen and (max-width: 768px) {
      font-size: 18px;
      margin-bottom: 24px;
    }
  }

  ul {
    font-weight: 400;
    font-size: rem(14px);
    line-height: rem(20px);
    column-count: 2;
    column-gap: 40px;

    @media screen and (max-width: 1440px) {
      font-size: 14px;
    }

    @media screen and (max-width: 768px) {
      column-count: 1;
    }
    li {
      margin-bottom: rem(18px);
      a {
        color: #1f242b;
        transition: all 0.5s ease;
        display: inline-flex;

        &:hover {
          color: #fc6a10;
        }
      }
    }
  }
}

.social-media {
  position: absolute;
  right: 0;
}

.fikirmod {
  position: absolute;
  right: 0;
  bottom: 32px;

  @media screen and (max-width: 768px) {
    right: 13px;
    transform: rotate(-90deg);
    top: 270px;
    bottom: auto;
  }
}

.up {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  left: 0;
  bottom: 96px;
  background: #ffffff;
  box-shadow: 0px 28px 54px rgba(100, 116, 139, 0.1);
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.5s ease;

  @media screen and (max-width: 768px) {
    left: auto;
    right: 0;
  }

  i {
    transition: all 0.5s ease;
    transform: rotate(-90deg);
    color: #1f242b;
  }

  &:hover {
    box-shadow: 0px 28px 54px rgba(100, 116, 139, 0.2);
    i {
      color: #fc6a10;
    }
  }
}

.bottom {
  background: #1f242b;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 16px 0;

  @media screen and (max-width: 768px) {
    padding: 10px 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;

      span {
        margin: 6px 0;
      }
    }
  }
}
