.search {
  &-input {
    input {
      padding: 32px 24px 32px 60px;

      &[data-dirty="true"],
      &[data-dirty-important="true"],
      &:focus {
        & ~ label {
          transform: translate(60px, 15px) scale(0.75);
        }
      }
    }

    label {
      transform: translate(60px, 32px) scale(1);
      color: rgba(100, 116, 139, 0.5);
    }
  }
}

.input {
  position: relative;

  &-icon {
    position: absolute;
    z-index: 2;
    left: 27px;
    top: 30px;
    display: flex;
  }

  &-submit {
    position: absolute;
    z-index: 2;
    right: 27px;
    top: 30px;
    display: flex;
  }

  i {
    &:before {
      font-size: 24px;
    }
  }
}