.right-nav {
  width: 30%;
  padding: 48px;
  border-left: 1px solid #F2F2F2;
  background: #fff;

  h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1f242b;
  }

  ul {
    li {
      padding: 8px;
      margin-top: 8px;

      &:hover {
        background: #f9f9fa;
        border-radius: 8px;
        transition: all 0.5s ease;

        a {
          span {
            color: #fc6a10;
            transition: all 0.5s ease;
            background: rgba(252, 106, 16, 0.1);
          }
        }
      }

      &:first-child {
        margin-top: 0;
      }

      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #1f242b;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          background: #f9f9fa;
          border-radius: 30px;
        }
      }
    }
  }

  .menu {
    li {
      transition: all 0.5s ease;
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        img {
          border-radius: 4px;
        }

        span {
          border-radius: 0;
        }

        i{
          padding-right: 8px;
        }
      }

      &:hover {
        transition: all 0.5s ease;
        border-radius: 8px;

        a {
          span {
            color: #1f242b;
            background: none;
          }

          i {
            color: #fc6a10;
            transition: all 0.5s ease;
          }
        }
      }
    }

    .list {
      display: flex;

      .desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 8px;

        h6 {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #1f242b;
          margin: 0;
        }

        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #64748b;
          margin: 4px 0 0;
        }
      }
    }
  }
}